<div class="modal fade" id="resourceViewModal" ng-controller="ResourceCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{temp.resource.title}}</h4>
			</div>

			<div class="modal-body autofit" id="scripturePlayer" ng-show="temp.resource.category=='Scripture'">
				<h2>{{temp.resource.body}}</h2>
				<p class="pull-right">{{temp.resource.refrence}}</p>
			</div>

			<div class="modal-body autofit" id="quotePlayer" ng-show="temp.resource.category=='Quote'">
				<h2>&quot;{{temp.resource.body}}&quot;</h2>
				<p class="pull-right">~{{temp.resource.refrence}}</p>
			</div>

			<div class="modal-body" id="videoPlayer" ng-show="temp.resource.category=='Video'">
				
			</div>

			<div class="modal-footer">
				<div ng-show="view=='remote'">
					<button type="button" class="btn btn-info" ng-click="tools.resource.send(temp.resource)">Send To Projector</button>
					<button type="button" class="btn btn-success pull-right" data-dismiss="modal">Close</button>
				</div>

				<notes show="mode=='study'" category="'resource'" topic="temp.resource.objectId"></notes>
			</div>
		</div>
	</div>
</div>