<div class="modal fade" id="resourceViewModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{temp.resource.title}}</h4>
			</div>

			<div class="modal-body" id="scripturePlayer" ng-show="temp.resource.category=='Scripture'">
				<h2 class="scripture">{{temp.resource.body}}</h2>
			</div>

			<div class="modal-body autofit" id="quotePlayer" ng-show="temp.resource.category=='Quote'">
				<h2 class="quote">&quot;{{temp.resource.body}}&quot;</h2>
			</div>

			<div class="modal-body" id="videoPlayer" ng-show="temp.resource.category=='Video'">
				
			</div>
			<div class="modal-footer">
				<div ng-hide="view=='remote'">
					<p class="pull-right">~{{temp.resource.refrence}}</p>
				</div>
				<div ng-show="view=='remote'">
					<button type="button" class="btn btn-info pull-left" ng-click="tools.remote.control('resource/'+temp.resource.$id)">Send To Projector</button>
					<span style="padding:5px;">~{{temp.resource.refrence}}</span>
					<button type="button" class="btn btn-success pull-right" data-dismiss="modal">Close</button>
				</div>

				<notes show="mode=='study'" category="'resource'" topic="temp.resource.$id"></notes>
			</div>
		</div>
	</div>
</div>