<div id="mainContent" class="container" ng-controller="AdminCtrl">
	<div class="cards">
		<div class="card" ng-show="!data.roles">
			<h2 ng-click="tools.roles.setup()">Setup Roles</h2>
		</div>
		<div class="card">
			<div class="parent" ng-repeat="role in data.roles | orderBy:'order'">
				<h2>{{role.name}}</h2>
				<ul class="list"><!-- child -->
					<li ng-repeat="user in role.users">
						<a ng-click="tools.user.editRoles(user)">
							<span class="title">{{user.name}}</span>
							<span class="sub">{{user.email}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="card" ng-show="data.unassigned">
			<h2>Unassigned</h2>
			<ul class="list">
				<li ng-repeat="user in data.unassigned">
					<a ng-click="tools.user.editRoles(user)">
						<span class="title">{{user.name}}</span>
						<span class="sub">{{user.email}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="card">
			<h2>Tools</h2>
			<ul class="list">
				<li title="When registration is open, new accounts will automatically be assigned as facilitators.">
					<a ng-click="tools.registration.toggle()" ng-show="siteSettings.registration.value=='open'">
						<span class="title">Registration Is Open</span>
						<span class="sub">Close Registration</span>
					</a>
					<a ng-click="tools.registration.toggle()" ng-show="siteSettings.registration.value=='closed'">
						<span class="title">Registration Is Closed</span>
						<span class="sub">Open Registration</span>
					</a>
				</li>
				<li>
					<a href="https://docs.google.com/spreadsheet/ccc?key=0As79z8Uw8IvadGc4bnNVdzNscmhvZm56SGZRbmdoMnc&usp=drive_web#gid=0" target="_new">
						<span class="title">View Recomendations</span>
						<span class="sub">Google Drive</span>
					</a>
				</li>
				<li>
					<a href="https://docs.google.com/spreadsheet/ccc?key=0As79z8Uw8IvadEtmUlNhckxuUG1LLU5hS194TzJydHc&usp=drive_web#gid=0" target="_new">
						<span class="title">View Seminar Reviews</span>
						<span class="sub">Google Drive</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div ng-include="'partials/admin/userModal.html'"></div>
	<div ng-include="'partials/admin/roleModal.html'"></div>
</div>