<div id="mainContent" class="container" ng-init="tools.admin.init()">
	<div class="cards">
		<div class="card">
			<h2>Users</h2>
			<ul class="list">
				<li ng-repeat="user in users">
					<a ng-click="tools.admin.focus(user)">
						<span class="title">{{user.displayName}}</span>
						<span class="sub">{{user.email}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="card">
			<h2>User: {{temp.user.displayName}}</h2>
			<ul class="list">
				<li ng-repeat="role in temp.roles">
					<a ng-click="tools.admin.roleRemove(temp.user, role)">
						<span class="title">{{role.$id}}</span>
						<!--<span class="sub">{{user.email}}</span>-->
					</a>
				</li>
				<li>
					<a ng-click="tools.admin.roleAdd(temp.user)">
						<span class="title">Add</span>
						<!--<span class="sub">{{user.email}}</span>-->
					</a>
				</li>
			</ul>
		</div>
		<div class="card">
			<h2>Tools</h2>
			<ul class="list">
				<li>
					<a href="https://docs.google.com/spreadsheet/ccc?key=0As79z8Uw8IvadGc4bnNVdzNscmhvZm56SGZRbmdoMnc&usp=drive_web#gid=0" target="_new">
						<span class="title">View Recomendations</span>
						<span class="sub">Google Drive</span>
					</a>
				</li>
				<li>
					<a href="https://docs.google.com/spreadsheet/ccc?key=0As79z8Uw8IvadEtmUlNhckxuUG1LLU5hS194TzJydHc&usp=drive_web#gid=0" target="_new">
						<span class="title">View Seminar Reviews</span>
						<span class="sub">Google Drive</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div ng-include="'partials/admin/userModal.html'"></div>
	<div ng-include="'partials/admin/roleModal.html'"></div>
</div>