<div class="titlentext">
	<div>
		<h2>Presentation Instructions</h2>
		<div class="well">
			<p>Welcome to the Inspired Learning and Teaching presentation!</p>
			<p>There are various modes by which you may use this material.  To switch modes, click on your name, then click on 'Present', 'Study', Etc.</p>
			<p>For the best experience, please use the Chrome web browser.</p>
			<h1>To Study</h1>
			<p>Click on your name then click 'Study'<br>Once you are in study mode, you will be able to add notes to the principles and resources.  We invite you to take the time to record thoughts and questions you may want to ask your students as you teach.</p>
			<h1>To Present</h1>
			<p>Click on your name then click 'Present'<br>When you are in fullscreen (F11 or Presentation), you can use arrow keys or each corner to navigate the presentation.  You can also quickly jump to resources by moving your mouse to the right side of the screen.  You can jump to each principle by moving your mouse to the left side.  You can click on thr right corners to move forward or the left corners to move back in the presentation.  <br>NOTE: You can not type text into the agenda while in presentation mode unless you pressed F11 to get there.</p>
			<p>In the list of resources on the right: each resource related to the current principle will be highlighted in white.</p>
			<h1>Remote</h1>
			<p>You can control your presentation by logging in with the same account on the computer and and your phone.  From your phone, you can select 'Remote' to control the presentation.</p>
			<div ng-show="tools.canEdit()">
				<h1>To Edit</h1>
				<p>Click on your name then click 'Edit'<br>Once you are in edit mode, you can add, edit, and remove principles and resources.  </p>
				<h1>Admin</h1>
				<p>Someone with authority must approve any new accounts before they will be granted permission and ability to view, study, or present this material.  You can manage these things at the 'Admin Dashboard'</p>
			</div>
		</div>
	</div>
</div>