<div class="titlentext">
	<div>
		<h1>Welcome {{user.name}}</h1>
		<div class="well">
			<p>Thanks for creating an account!  Now, you just need to wait until your coordinator approves you as a facilitator.  Once you are approved, you will be able to access this material, study, and take notes.  We look forward to working with you!</p>
			<p>If you have not yet applied for a facilitator position please visit the <a>Gateway Seminar Application</a></p>
			<!-- <p>Thanks for creating an account!  You should be able to get started right away.</p> -->
		</div>
	</div>
</div>