<div>
	<h1>{{data.presentation.location}}</h1>
	<div class="cards">
		<div class="card">
			<h2>Navigation</h2>
			<ul class="list">
				<li>
					<a ng-click="tools.remote.control('welcome')">Welcome</a>
					<a ng-click="tools.remote.control('agenda')">Agenda</a>
					<a ng-click="tools.remote.control('introduction')">Intro</a>
					<a ng-click="tools.remote.control('topicList')">Principles</a>
					<a ng-click="tools.remote.control('resourceList')">Resources</a>
					<a ng-click="tools.remote.control('action/close')">Close Resource</a>
				</li>
			</ul>
		</div>
		<div class="card">
			<h2>Principles</h2>
			<ul class="list">
				<li ng-repeat="principle in data.topics">
					<a ng-click="tools.remote.control('topic/'+principle.$id)">{{principle.title}}</a>
				</li>
			</ul>
		</div>
		<div class="card" ng-repeat="category in data.organized">
			<h2>{{category.title}}s</h2>
			<ul class="list">
				<li ng-repeat="resource in category.resources">
					<a ng-click="tools.resource.focus(resource)" title="{{resource.refrence}}">{{resource.title}}</a>
				</li>
			</ul>
		</div>
		<a class="btn btn-block btn-xl btn-danger" style="margin: 30px;" ng-click="tools.remote.control('action/close')">Close Resource</a>
	</div>
</div>