<div id="resourceList" class="cards">
	<div class="card" ng-repeat="category in data.organized">
		<h2>{{category.title}}s</h2>
		<ul class="list">
			<li ng-repeat="resource in category.resources">
				<span class="topics">
					<i class="fa fa-circle" ng-repeat="topic in resource.topics" title="{{tools.topic.get(topic).title}}" style="color:{{tools.topic.get(topic).color}};"></i>
				</span>
				<span class="resource" title="{{resource.refrence}}" ng-click="tools.resource.focus(resource)">{{resource.title}}</span>
				<i class="fa fa-trash-o" ng-click="tools.resource.remove(resource)" ng-show="mode=='edit'"></i>
			</li>
			<li ng-show="mode=='edit'"><a ng-click="tools.resource.add(category)" class="add">Add Resource</a></li>
		</ul>
	</div>
</div>