<div class="titlentext" ng-controller="TopicCtrl" ng-init="tools.setTopic()">
	<div ng-hide="mode=='edit'">
		<h2>{{'SITE.TOPIC.LEARNERS_AND_TEACHERS' | translate}}</h2>
		<h1 ng-hide="topic.tagline">{{topic.i}}. {{topic.title}}</h1>
		<h1 ng-show="topic.tagline">{{topic.i}}. {{topic.tagline}}</h1>
		<div class="well">
			{{topic.description}}
		</div>
	</div>
	<notes show="mode=='study'" category="view" topic="id"></notes>
	<div ng-show="mode=='edit'">
		<form role="form" ng-submit="tools.topic.update('topic',topic)" ng-show="mode=='edit'">
			<div class="form-group col-md-3">
				<input type="text" class="form-control" id="topicTitle" 
					placeholder="Topic Title" ng-model="topic.title">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="topicTagline" 
					placeholder="Large Title" ng-model="topic.tagline">
			</div>
			<div class="form-group">
				<input type="color" class="form-control" id="topicColor" 
					placeholder="#000" ng-model="topic.color">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="3" placeholder="Quote" ng-model="topic.description">
				</textarea>
			</div>
			<button type="submit" class="btn btn-success pull-right">Save Changes</button>
		</form>
	</div>
</div>