<div class="modal fade" id="userGeoHelpModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Geo Location Help</h4>
			</div>
			<div class="modal-body">
				<p>CHROME users: If you have already clicked [Deny] you will see a circle with an 'x' on the right side of the address bar.  Click that, and clear settings for this site.  Once you do that, you will have to refresh the website and you will have the option to [Allow] access to your location.</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-primary" data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
</div>