<div class="modal fade" id="userSignupModal">
	<div class="modal-dialog">
		<form class="form-horizontal" ng-submit="tools.user.signup(temp.user)">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Signup</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="userName" class="col-lg-3 control-label">Name</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="userName" placeholder="Name" ng-model="temp.user.name">
						</div>
					</div>
					<div class="form-group">
						<label for="userPhone" class="col-lg-3 control-label">Phone</label>
						<div class="col-lg-9">
							<input type="tel" class="form-control" id="userPhone" ng-model="temp.user.phone">
						</div>
					</div>

<!-- 					<div class="form-group" ng-hide="geo!=undefined" ng-init="tools.geo.location(tools.user.temp.setLocation)">
						<label for="userGeo" class="col-lg-3 control-label">Location</label>
						<div class="col-lg-9">
							<p>This service is a local service.  You need to allow access to your computer's location in order to use this service.  To get help sharing your location, click here: </p>
							<a class="btn btn-block btn-info" ng-click="tools.user.geoHelpModal()">Help With Location</a>
						</div>
					</div>
					<div class="form-group">
						<label for="userAddress" class="col-lg-3 control-label">Home Address</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="userAddress" placeholder="## Street. City, State" ng-model="temp.user.address">
						</div>
					</div>
					<div class="form-group">
						<label for="userZip" class="col-lg-3 control-label">Zip</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="userZip" ng-model="temp.user.zip">
						</div>
					</div>
					<hr> -->
					<div class="form-group">
						<label for="userEmail" class="col-lg-3 control-label">Email</label>
						<div class="col-lg-9">
							<input type="email" class="form-control" id="userEmail" ng-model="temp.user.email">
						</div>
					</div>
					<div class="form-group">
						<label for="userPassword" class="col-lg-3 control-label">Password</label>
						<div class="col-lg-9">
							<input type="password" class="form-control" id="userPassword" ng-model="temp.user.password">
						</div>
					</div>
					<div class="form-group">
						<label for="userPassword1" class="col-lg-3 control-label">Retype Password</label>
						<div class="col-lg-9">
							<input type="password" class="form-control" id="userPassword1" ng-model="temp.user.password1">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" ng-click="tools.user.loginModal()">Login</a>
					<input type="submit" class="btn btn-primary" value="Signup">
				</div>
			</div>
		</form>
	</div>
</div>